
@font-face {
  font-family: 'HelveticaNeueCyr-Heavy';
  src: url('styles/HelveticaNeueCyr-Heavy/HelveticaNeueCyr-Heavy.eot?#iefix') format('embedded-opentype'),
       url('styles/HelveticaNeueCyr-Heavy/HelveticaNeueCyr-Heavy.otf')  format('opentype'),
	   url('styles/HelveticaNeueCyr-Heavy/HelveticaNeueCyr-Heavy.woff') format('woff'),
       url('styles/HelveticaNeueCyr-Heavy/HelveticaNeueCyr-Heavy.ttf')  format('truetype'),
       url('styles/HelveticaNeueCyr-Heavy/HelveticaNeueCyr-Heavy.svg#HelveticaNeueCyr-Heavy') format('svg');
  font-weight: normal;
  font-style: normal;
}
