@import "./../../styles/fonts";

aspectRatio = 1.41
posterWidth = 600px
posterHeight = posterWidth * aspectRatio

zoomPerentage = 75%
residue = 100% - zoomPerentage

div
  box-sizing border-box
.h1,.h2
  color #000
  font-size 21px

.h1
  font-family 'ProximaNova-Black'
  margin 0
  padding 15px
  display block
.h2
  font-family 'ProximaNova-Regular'
  margin 0

.wrapper
  width posterWidth
  position relative
  margin 0 auto
  padding-top 40px
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
  &:before,
  &:after
    position absolute
    content ""
    bottom: 15px
    left 8px
    width 50%
    top 80%
    max-width 300px
    background #777
    box-shadow 0 15px 10px rgba(#000,.5)
    transform rotate(-3deg)
  &:after
    transform rotate(3deg)
    right 8px
    left auto

.container
  display table
  width  posterWidth
  height posterHeight
  margin 0 auto
  background-color #ccc
  position relative
  box-shadow 0 1px 4px 2px rgba(#000,.2)
  z-index 1

.row
  display table-row

.item
  //border 1px solid #ddd
  transition width 0.2s ease-in-out, height 0.2s ease-in-out
  display table-cell
  width residue
  height residue
  cursor pointer
  vertical-align top
  overflow hidden
  position relative
  .linkFrom
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration none

.item:hover
  width zoomPerentage
  height zoomPerentage

.about
  background-color #fa7579
  background-image url('assets/img/halftone-me.png');
  background-size: 740px;
  background-position: 85% 24%;
  background-repeat: no-repeat;
  font-size: 24px;
  color #fff
  .h1
    color #fff
    font-size: 45px;

.work
  background-color #ffc749
  background-image url('assets/img/reactLogo.svg')
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;

.where
  background-color #57d6ff
  background-image url('assets/img/socialNetwors.back.svg')
  background-position -28px 19px
  background-size cover
  background-repeat no-repeat
  &:hover
    .h2
      transform rotate(0deg)
      top 0
      left 0
      right 0
      margin 0
  .h2
    font-size 49px
    position absolute
    padding 15px
    display block
    width 100%
    box-sizing: border-box
    font-family HelveticaNeueCyr-Heavy
    color #fff
    transform rotate(-45deg)
    top 5px
    left 49px
    transition transform 0.2s ease-in-out, top 0.2s ease-in-out, left 0.2s ease-in-out

.blog
  background-color #f8f8f8
  .circle
    width 130px
    height 130px
    border-radius 100%
    background-color rgba(231, 32, 255, 0.47)
    position absolute
    left 0
    right 0
    margin auto
    top 0%
  for n in (1..10)
    .circle:nth-child({n})
      background-color rgba(spin(#0000ff, n*20'deg'), 0.47)
      top n*12+'%'
  .h2
    font-size 59px
    position absolute
    padding 15px
    text-align center
    display block
    width 100%
    box-sizing border-box
    font-family 'HelveticaNeueCyr-Heavy'

//work
.workTitle
  height 15%
  background-color #888
  padding 15px
  display inline-flex
  width 100%
  align-items center
  font-size 16px
  position: absolute
  top 0
  min-height 50px
  .h2
    color #f2f2f2
.workSubTitle
  height 15%
  background-color #fff
  padding 15px
  display inline-flex
  width 100%
  align-items center
  font-size 22px
  top 15%
  position: absolute
  min-height 50px
  .h2
    color: #282828;
.workBottom
  height 190px
  background-color transparent
  padding: 15px
  position: absolute
  right 0
  bottom 0
  .h2
    font-size 150px
    display block

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -5%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
