@font-face {
  font-family: 'ProximaNova-Black';
  src: url('styles/ProximaNova-Black/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
	      url('styles/ProximaNova-Black/ProximaNova-Black.woff') format('woff'),
          url('styles/ProximaNova-Black/ProximaNova-Black.ttf') format('truetype'),
          url('styles/ProximaNova-Black/ProximaNova-Black.svg#ProximaNova-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
