/** Proxima Nova **/



@font-face {
    font-family: 'proxima_nova_altblack';
         url('~/src/fonts/Ma~/src/fonts/rk Simonson - Proxima Nova Alt Black-webfont.woff2') format('woff2')
    font-weight: normal;
    font-style: normal;

}
