@import "./normalize.css"

body
  font-family HelveticaNeueCyr-Medium, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif
  font-weight 300
  width: 100%;
  display block!important

.content
  background-color #eee
  //display: flex;
  padding-bottom: 50px;
  min-height: 100vh;

.layout
  //display: flex;
  //min-height: 100vh;
  //flex-direction: column;
  width: 100%;
  min-width: 600px;
