@import "./normalize.css"

body
  font-family HelveticaNeueCyr-Medium, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif
  font-weight 300

.content
  background-color #eee
  display: flex;
  padding-bottom: 50px;

.layout
  display: flex;
  min-height: 100vh;
  flex-direction: column;
