
@font-face {
  font-family: 'ProximaNova-Regular';
  src:   url('styles/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
         url('styles/ProximaNova-Regular/ProximaNova-Regular.otf')  format('opentype'),
	     url('styles/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
         url('styles/ProximaNova-Regular/ProximaNova-Regular.ttf')  format('truetype'),
         url('styles/ProximaNova-Regular/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
